src/main/resources/futar2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://netlife.hu/g4futar/webservice/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://netlife.hu/g4futar/webservice/">
<types>
<xsd:schema targetNamespace="http://netlife.hu/g4futar/webservice/">
 <xsd:import schemaLocation="http://schemas.xmlsoap.org/soap/envelope/" namespace="http://schemas.xmlsoap.org/soap/encoding/" />
<!--<xsd:import schemaLocation="schemas.xmlsoap.org_soap_encoding.xsd" namespace="http://schemas.xmlsoap.org/soap/encoding/" />  -->

 <!-- Manual csodak - request -->
 <xsd:element name="rendeles">
	 <xsd:complexType>
		<xsd:all>
			<xsd:element name="action" type="xsd:string" />
			<xsd:element name="VFHUWS-OrderID" type="xsd:string"/>
			<xsd:element name="G4SOrderID" type="xsd:int"/>
			<xsd:element name="szallitasiAdatok" type="tns:SzallitasiAdatok"/>
			<xsd:element name="tipus" type="xsd:int"/>
			<xsd:element name="futarnalBankkartyaFizetes" type="xsd:boolean"/>
			<xsd:element name="status" type="xsd:int"/>
            <xsd:element name="azonnaliSzallitas" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="fixIdejuRendeles" type="xsd:string" minOccurs="0" maxOccurs="1"/>
		</xsd:all>
	 </xsd:complexType>
</xsd:element>

<xsd:element name="napiZaras">
	<xsd:complexType>
		<xsd:all>
			<xsd:element name="helyszinId" type="xsd:int" />
		</xsd:all>
	</xsd:complexType>
</xsd:element>

<xsd:element name="getStatus">
	<xsd:complexType>
	<xsd:all>
		<xsd:element name="idArray" type="tns:IdArray" />
	</xsd:all>
	</xsd:complexType>
</xsd:element>

<xsd:element name="getAllNotClosedStatus" />

<!-- Response elemek -->

<xsd:element name="getAllNotClosedStatusResponse">
	<xsd:complexType>
	<xsd:all>
		<xsd:element name="status" />
	</xsd:all>
	</xsd:complexType>
</xsd:element>

<xsd:element name="getStatusResponse" >
	<xsd:complexType>
	<xsd:all>
		<xsd:element name="status" />
	</xsd:all>
	</xsd:complexType>
</xsd:element>

<xsd:element name="napiZarasResponse">
        <xsd:complexType>
        <xsd:all>
                <xsd:element name="G4SOrderIDk"/>
        </xsd:all>
        </xsd:complexType>
</xsd:element>

<xsd:element name="rendelesResponse">
	<xsd:complexType>
	<xsd:all>
		<xsd:element name="rendelesReturn"  />	
	</xsd:all>
	</xsd:complexType>
</xsd:element>
 <!-- END -->

 <xsd:complexType name="StatusObject">
  <xsd:all>
   <xsd:element name="id" type="xsd:int"/>
   <xsd:element name="item" type="xsd:string"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="StatusArray">
  <xsd:complexContent>
   <xsd:restriction base="SOAP-ENC:Array">
    <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:StatusObject[]"/>
   </xsd:restriction>
  </xsd:complexContent>
 </xsd:complexType>


 <xsd:complexType name="IdArray">
  <xsd:sequence>
   <xsd:element maxOccurs="unbounded" name="id" type="xsd:int"/>
  </xsd:sequence>
 </xsd:complexType>

 <xsd:complexType name="SzallitasiAdatok">
  <xsd:all>
   <xsd:element name="c_nev" type="xsd:string"/>
   <xsd:element name="c_szemely" type="xsd:string"/>
   <xsd:element name="c_irsz" type="xsd:string"/>
   <xsd:element name="c_helyseg" type="xsd:string"/>
   <xsd:element name="c_utca" type="xsd:string"/>
   <xsd:element name="c_telefon" type="xsd:string"/>
   <xsd:element name="c_email" type="xsd:string"/>
   <xsd:element name="c_vevokod" type="xsd:string"/>
   <xsd:element name="szamlaszam" type="xsd:string"/>
   <xsd:element name="utanvetel" type="xsd:string"/>
   <xsd:element name="darab" type="xsd:int"/>
   <xsd:element name="suly" type="xsd:string"/>
   <xsd:element name="tartalom" type="xsd:string"/>
   <xsd:element name="instrukcio" type="xsd:string"/>
   <xsd:element name="feladobetujel" type="xsd:string"/>
   <xsd:element name="helyszin" type="xsd:int"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="rendelesReturn">
  <xsd:all>
   <xsd:element name="ack" type="xsd:string"/>
   <xsd:element name="hiba" type="xsd:string"/>
   <xsd:element name="fuvarlevel" minOccurs="0" type="xsd:string"/>
   <xsd:element name="G4SOrderID" minOccurs="0" type="xsd:int"/>
  </xsd:all>
 </xsd:complexType>
</xsd:schema>
</types>
<message name="rendelesRequest">
  <part name="action" type="xsd:string" />
  <part name="VFHUWS-OrderID" type="xsd:string" />
  <part name="G4SOrderID" type="xsd:int" />
  <part name="szallitasiAdatok" type="tns:SzallitasiAdatok" />
  <part name="tipus" type="xsd:int" />
  <part name="futarnalBankkartyaFizetes" type="xsd:boolean" />
  <part name="status" type="xsd:int" />
  <part name="azonnaliSzallitas" type="xsd:boolean"/>
  <part name="fixIdejuRendeles" type="xsd:string"/></message>
<message name="rendelesResponse">
  <part name="rendelesReturn" type="tns:rendelesReturn" /></message>
<message name="getStatusRequest">
  <part name="idArray" type="tns:IdArray" /></message>
<message name="getStatusResponse">
  <part name="status" type="tns:StatusArray" /></message>
<message name="getRendelesDataRequest" >
  <part name="G4SOrderID" type="xsd:int" /> </message>
<message name="getRendelesDataResponse" >
  <part name="rendelesAdatok" type="tns:SzallitasiAdatok" /> 
  <part name="tipus" type="xsd:int" />
  <part name="futarnalBankkartyaFizetes" type="xsd:boolean" />
  <part name="azonnaliSzallitas" type="xsd:boolean" />
  <part name="fixIdejuRendeles" type="xsd:string" />
  <part name="realDeliveryTime" type="xsd:string" />
  <part name="status" type="xsd:int" /></message>
<message name="getAllNotClosedStatusRequest"></message>
<message name="getAllNotClosedStatusResponse">
  <part name="status" type="tns:StatusArray" /></message>
<message name="napiZarasRequest">
  <part name="helyszinId" type="xsd:int" /></message>
<message name="napiZarasResponse">
  <part name="G4SOrderIDk" type="tns:IdArray" /></message>
<portType name="VodafoneServicePortType">
  <operation name="rendeles">
    <documentation>Rendeles feladasa, modositasa, torlese</documentation>
    <input message="tns:rendelesRequest"/>
    <output message="tns:rendelesResponse"/>
  </operation>
  <operation name="getStatus">
    <documentation>Rendeles statuszanak lekerdezese</documentation>
    <input message="tns:getStatusRequest"/>
    <output message="tns:getStatusResponse"/>
  </operation>
  <operation name="getRendelesData" >
    <documentation>Rendeles adatainak lekerdezese</documentation>
    <input message="tns:getRendelesDataRequest"/>
    <output message="tns:getRendelesDataResponse"/>
  </operation>
  <operation name="getAllNotClosedStatus">
    <documentation>Osszes nemlezart rendeles statuszanak lekerdezese</documentation>
    <input message="tns:getAllNotClosedStatusRequest"/>
    <output message="tns:getAllNotClosedStatusResponse"/>
  </operation>
  <operation name="napiZaras">
    <documentation>Napi zaras</documentation>
    <input message="tns:napiZarasRequest"/>
    <output message="tns:napiZarasResponse"/>
  </operation>
</portType>
<binding name="VodafoneServiceBinding" type="tns:VodafoneServicePortType">
  <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
  <operation name="rendeles">
    <soap:operation soapAction="http://netlife.hu/g4futar/webservice/#rendeles" style="rpc"/>
    <input><soap:body use="encoded" namespace="http://netlife.hu/g4futar/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="http://netlife.hu/g4futar/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="getStatus">
    <soap:operation soapAction="http://netlife.hu/g4futar/webservice/#getStatus" style="rpc"/>
    <input><soap:body use="encoded" namespace="http://netlife.hu/g4futar/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="http://netlife.hu/g4futar/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="getRendelesData">
    <soap:operation soapAction="http://netlife.hu/g4futar/webservice/#getRendelesData" style="rpc" />
    <input><soap:body use="encoded" namespace="http://netlife.hu/g4futar/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="http://netlife.hu/g4futar/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="getAllNotClosedStatus">
    <soap:operation soapAction="http://netlife.hu/g4futar/webservice/#getAllNotClosedStatus" style="rpc"/>
    <input><soap:body use="encoded" namespace="http://netlife.hu/g4futar/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="http://netlife.hu/g4futar/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="napiZaras">
    <soap:operation soapAction="http://netlife.hu/g4futar/webservice/#napiZaras" style="rpc"/>
    <input><soap:body use="encoded" namespace="http://netlife.hu/g4futar/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="http://netlife.hu/g4futar/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
</binding>
<service name="VodafoneService">
  <port name="VodafoneServicePort" binding="tns:VodafoneServiceBinding">
    <soap:address location="http://futarteszt.keszpenzlogisztika.hu/webservice/server.php"/>
  </port>
</service>
</definitions>
